---
version: 7
---

@import 'variables';

@function repeat-str($str, $times) {
  @if $times <=0 {
    @return '';
  } @else {
    $result: '';

    @for $i from 1 through $times {
      $result: $result + $str + ' ';
    }

    @return $result;
  }
}

@mixin sidebar-fixed {
  overflow: auto;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: $sidebar-width;
}

@mixin code-color {
  color: $code-color;
  background-color: $code-background-color;
}

@mixin code-styles {
  @include code-color;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
}

.text-decoration-underline {
  text-decoration: underline;
}

.gl-font-base {
  font-size: 1rem;
}

.gl-w-3 {
  width: 1rem;
}
